<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Hola</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="css_hola10/base.css">
    <link rel="stylesheet" href="css_hola10/vendor.css">
    <link rel="stylesheet" href="css_hola10/main.css">

    <!-- script
    ================================================== -->
    <script src="js_hola10/modernizr.js"></script>
    <script src="js_hola10/pace.min.js"></script>

</head>

<body id="top">
   <!-- home
   ================================================== -->
   <section id="home" class="s-home page-hero target-section" data-parallax="scroll" data-image-src="images/jy.jpg" data-natural-width=4478 data-natural-height=2517 data-position-y=center>

        <div class="overlay"></div>
        <div class="shadow-overlay"></div>

        <div class="home-content">

            <div class="row home-content__main">
                <h3>Hello There</h3>

                <h1>
                    I am Jinyi Li. <br>
                    An alchemist <br>
                    in artifitial intelligence.
                </h1>
            </div>

        </div> <!-- end home-content -->
    </section> <!-- end s-home -->
    <!-- Java Script
    ================================================== -->
    <script src="js_hola10/jquery-3.2.1.min.js"></script>
    <script src="js_hola10/plugins.js"></script>
    <script src="js_hola10/main.js"></script>

</body>

</html>